{% load static %}
<nav class="navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/lab-10/" >OMDB</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% if login %}
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a href="{% url 'lab-10:movie_list' %}" style="color: #ffffff">Movie List</a></li>
        <li><a href="{% url 'lab-10:list_watch_later' %}" style="color: #ffffff">Watch Later</a></li>
        <li><a href="{% url 'lab-10:list_watched' %}" style="color: #ffffff">Watched Movies</a></li>
        {% endif %}
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if login %}
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <a style="position: relative; top: 1rem;" href="{% url 'lab-10:auth_logout' %}" class="btn btn-danger" onclick="return confirm('Keluar?')">
        Logout </a>
        
        {% endif %}
        
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
