{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="panel panel-info">
    <div class="text-center panel-heading">
        <h1> {{movie.title}} ({{movie.year}}) </h1>
        <p>{{movie.rated}} | {{movie.runtime}} | {{movie.genre}} | {{movie.released}}</p>
    </div>
    <div class="panel-body" >
        <div class="col-sm-5">
            <img src="{{movie.poster}}" class="img-responsive img-thumbnail">
            <br>
        </div>
        <div class="col-sm-5" >
            <h2 class="sum">Summary</h2>
            <hr>
            <p>{{movie.plot}}</p>
            <hr>
            <p><b>Director: </b>{{movie.director}}</p>
            <p><b>Writer: </b>{{movie.writer}}</p>
            <p><b>Actors: </b>{{movie.actors}}</p>
            <hr>

            <p class="score"><b>Metascore:</b> {{movie.metascore}} | <b>IMDB Rating:</b> {{movie.imdbrating}}</p>
            <div class="box">
                {% if added %}
                <button class="btn btn-success disabled wl"> Added to Watch Later </button>
                <a href="{% url 'lab-10:add_watched' id %}" class="btn btn-warning wl"> Watch now! </a>
                
                {% else %}
                <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning wl"> Add to Watch Later </a>
                {% endif%}
            </div>
        </div>
    
            
            
    
        </div>
    </div>

{% endblock %}
