{% extends "lab_10/layout/base.html" %}

{% block content %}
<!-- <div class="row">
    {% for movie in watch_later_movies %}
    <p> {{ movie }} </p>
    {% endfor %}
</div> -->

<div class="panel panel-info">
	<div class="panel-heading">
		<h2> Watch Later </h2>
	</div>
	<div class="panel-body">
		<div class="table-responsive table-bordered movie-table">
            <table class="table movie-table">
                  <thead>
                  <tr class= "movie-table-head">
                      <th></th>
                      <th>Movie Name</th>
                      <th>Genre</th>
                      <th>Director</th>   
                      <th>Rating</th>
                      
                  </tr>
              </thead>   
              <tbody>
                {% if watch_later_movies %}
                {% for movie in watch_later_movies %}  
                <!--row-->
                <tr class= "dark-row">
                    <td width="100">
                    <a class="ml-mask" href="{% url 'lab-10:movie_detail' movie.imdbid %}">
			    		<img class="img-responsive " src="{{ movie.poster }}" width="85" height="107">
			    	</a>                   	
                    </td>
                    <td> 
                    	<a class="ml-mask" href="{% url 'lab-10:movie_detail' movie.imdbid %}">
			    		<span class="mli-info">
			    			<div class="moviename"> {{ movie.title }} </div>
			    		</span>
			    	</a>  
                    </td>
                    <td>{{ movie.genre }}</td>
                    <td>{{ movie.director }}</td>
                    <td>IMDB : {{ movie.imdbrating }} <br> Metascore : {{ movie.metascore}}</td> 
                    
                </tr>
                {% endfor %}
                {% else %}
                <tr class="dark-row">
                  <td></td>
                  <td></td>
                  <td>
                  <div class="text-center dark">
                    <strong>Oops!</strong> Tidak ada data movie di Watch Later.
                  </div>  
                  </td>    
                </tr>
                
                
                {% endif %}
                <!--/.row-->

                <!--row-->
               
             
                <!--/.row-->
                
                
  
              </tbody>
            </table>
            </div>
             <a href="{% url 'lab-10:dashboard' %}" class="btn btn-primary"> Dashboard </a> |
                <a href="{% url 'lab-10:movie_list' %}" class="btn btn-warning"> Movie List</a>	
	</div>
</div>

{% endblock %}
