body {
  margin: 0;

  /*background-color:#e9ebee;*/
  font-family: 'Oswald', sans-serif;
} 

.navbar-default {
  background-color: #333333;
  border-color: #222222;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #272727;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #272727;
}



.menu {
  margin-top: 1rem;
  margin-right: auto;
  font-size: 1.5rem;
  right: 0;
  text-align: right;
}

#footer{
    position: relative;
    top: 26rem;
}

.img{
  position: relative;
  bottom: 20px;
  right: 280px;
   width: 70px;
   height: 70px;
}
h2{
  position: relative;
  left: 35rem;   
}
#django-messages{
  background-color: #fff

}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

@media screen and (max-width: 900px) {
  .right-side {
    width: 60%;
    padding-top: 1.3%;
  }

}

@media screen and (max-width: 360px) {
  .right-side {
    padding-top: 3%;
  }

}


.main-movie-detail {
    margin-bottom: 20px;
}
.movie-title, .movie-detail{
    color: white;
}
.movie-detail hr {
    margin-top: 2px;
}
.movie-detail h4:first-child {
    margin-top: 0;
}
.movie-detail h4 {
    margin-top: 20px;
}
.movie-detail .box {
    margin-top: 20px;
}
.main-watch-later {
    margin-top: 20px;
}
/*styling source https://www.w3schools.com/css/css_align.asp*/
.movie-poster img {
    display: block;
    margin: auto 50px auto auto;
}

/*styling source: http://webredox.net/demo/wp/movieme/light/*/
td {
    padding: 0 10px 2px 0;
}
/*styling source: https://ganool.se/*/
img.homethumb{ 
  width: 100% !important;
    height: auto !important;
    min-height: 100% !important;
    background-position: 50% 25%;
    background-size: cover; 
}
.watch-later-list .movimgbox {
    height: 230px;
    background: rgba(26,26,26,1);

    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.watch-later-list .movimgbox .ml-mask:after, .watch-later-list .movimgbox .ml-mask:before {
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    z-index: 4;
}
.watch-later-list .movimgbox .ml-mask:before {
    content: "";
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.watch-later-list .movimgbox .ml-mask:hover img{
    opacity: 0.4!important; 
}
.watch-later-list .movimgbox .mli-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    color: white;
    text-align: center;
    background: url(https://ganool.se/wp-content/themes/newganool/images/mask-title.png) top repeat-x;
    z-index: 5;
}
.watch-later-list .movimgbox .ml-mask:after {
    content: "";
    width: 100px;
    height: 65px;
    background-image: rgba(0,0,0,0.6);
    background-position: 50% 25%;
    background-size: cover;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -50px;
}
.watch-later-list .movimgbox .ml-mask:hover:after { 
    opacity:1 !important; 
}

.dark-row{
    background:#AEC5E8;
    
}
.light-row{
    
    background:#F1F3F0;
}

.movie-table-head{
    
    background:#F1F3F0 ;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

.panel-heading h2 {
  position: relative;
  left: 0rem;
}

.sum{
   position: relative;
  left: 15rem;
}

.score{
   position: relative;
  left: 12rem;
}

.wl{
  position: relative;
  top: 2rem; 
  left: 13rem;
}

.footer { 
    margin-top: 15%;
    /*padding: 15px 10px 10px 20px;*/
    color: #539987 !important;
    border-top:1px solid #52FFB8;
    bottom: 0;
}
@media only screen and (max-width: 768px) {
    .movie-poster {
        margin-bottom: 30px;
    }
    .movie-detail .box {
        text-align: center;
    }
}


