{% extends 'lab_8/layout/base.html' %}
{% load static %}
{% block content %}
<center>
<div id="lab8">
	<div>
		<img class="image" src="https://i.ytimg.com/vi/V00mAPdNIJg/maxresdefault.jpg">
	</div>
<button class="Login" onclick="facebookLogin()">LOGIN NOW WITH FACEBOOK</button>
</div>
</center>
{% endblock%}
