{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <title> 
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>
<style type="text/css">
    .font-1{
        margin-left: 20px;
        font-weight: bold;
        font-size: 20px;
        color: #F8F8FF;
        font-family: 'Open Sans', sans-serif;
    }
     .font-2{
        font-weight: bold;
        font-size: 30px;
        color: #F8F8FF;
        font-family: 'Open Sans', sans-serif;
    }
    .font-3{
        margin-left: 20px;
        font-weight: bold;
        font-size: 30px;
        color: #F8F8FF;
        font-family: 'Open Sans', sans-serif;
    }

    .img{
        border-radius: 50%;
        margin-left: 10px;
    }
     .navbar-default {
    background-color: #0D3D56;
    border-color: #0D3D56;
    }
    ul {
     list-style-type: none;
    }



</style>
<body style="background: url(http://www.amazingwallpaperz.com/wp-content/uploads/Battlefield-1920x1080-HD-Background-Wallpapers.jpg) no-repeat; background-attachment: fixed; background-position: center center;background-size: cover;  ">
    <header>
        {% include "lab_4/partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
