body {
  margin: 0;

  /*background-color:#e9ebee;*/
  font-family: arial;
}

.header {
  background-color: #ff5722;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 1%;
  overflow: hidden;
}

.left-side {
  width: 30%;
  color: white;
  float: left;
}

.right-side {
  width: 30%;
  color: white;
  float: right;

}

.title {
  margin-top: 0;
  font-size: 3rem;
  font-weight: bold;
}

.menu {
  margin-top: 1rem;
  margin-right: auto;
  font-size: 1.5rem;
  right: 0;
  text-align: right;
}

#footer{
    position: relative;
    top: 24rem;
}

.img{
  position: relative;
  bottom: 20px;
  right: 280px;
   width: 70px;
   height: 70px;
}
h2{
  position: relative;
  left: 35rem;   
}
#django-messages{
  background-color: #fff

}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

@media screen and (max-width: 900px) {
  .right-side {
    width: 60%;
    padding-top: 1.3%;
  }

}

@media screen and (max-width: 360px) {
  .right-side {
    padding-top: 3%;
  }

}

