#postStatus{
  background-color: #3b5998;
  color: white;
  margin-top: 2rem;
  margin-bottom: 10rem;
  padding: 0.5rem;
  position: relative;
  right: 5.4rem;
  top: 8rem;

}

#postInput{
  position: relative;
  left: 7rem;
  background-color: white;
  box-sizing: border-box;
  border-radius: 3px;
}

.Logout{
  background-color: #3b5998;
  color: white;
  margin-top: 2rem;
  padding: 0.5rem;

}

.Login{
  background-color: #3b5998;
  color: white;
  margin-top: 2rem;
  padding: 0.5rem;

}

input {
  margin: auto;
  width: 60%;
  padding: 3rem;
  text-align: center;
}

img {
  margin-top: 3rem;
  position: relative;
  top: 0;
  left: 0;
}

.feed {
  width: 50%;
  padding: 3rem;
  margin: 3rem;
}

.flex {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 50px;
    position: relative;
    left: 3rem;
    background: white;
    -webkit-box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.3);
    width: 70%;
    height: 70%;

    
}

.data{
  position: relative;
  left: 2rem;
}
.cover{
  position: relative;
  top: 0;
  left: 0;
  left: 2.6rem;
}

.picture{
  position: absolute;
  top: 17rem;
  left: 100rem;
  border-radius: 50%;
}




