    {% extends "lab_4/layout/base.html" %}

    {% block content %}
    <h1 align="middle" class="font-3">Ignatius Rahardi Prasojo</h1>
    <hr/>
    <section class="font-1" name="bio" align="middle">
        <h2>Bio</h2>
        <img class="img" src="https://vignette.wikia.nocookie.net/metalgear/images/f/f1/TPPVenomSnakeMB.png/revision/latest/scale-to-width-down/350?cb=20151206170252" alt="Big Boss"  >
        <p>
            {{content}}
        </p>    
    </section>
    <hr/>
    <section class="font-2" name="about_me" align ="middle">
        
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
     <section class="font-1" name="form" align ="middle">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
    
    {% endblock %}
