{% extends "lab_9/layout/base.html" %}

{% block content %}
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2> [Cookie] Profile </h2>
    </div>
    <div class="panel-body">
        <p> Username : {{ request.COOKIES.user_login }} </p>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script >
$('.header').html(
                '<div class="left-side">' +
                '<div class="title">' +
                    '<p>Shopaa</p>' +
                '</div>' +
                '</div>' +
                '<img class="img" src="http://apk.co/images/shopee-jual-beli-di-ponsel-21416.png   ">' +
                '<div class="right-side">' +
                    '<a href="{% url "lab-9:cookie_clear" %}" class="btn btn-danger pull-right" onclick="return confirm("Keluar?")"> Logout </a>' +
                '</div>' 
        );
</script>
{% endblock %}

