{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/lab_9.css' %}" />
</head>
  <body>
    <div class="header">
        <div class="left-side">
          <div class="title">
            <p>Shopaa</p>
          </div>
        </div>
        <img class="img" src="http://apk.co/images/shopee-jual-beli-di-ponsel-21416.png   ">
      
    </div>
     
  </body>
</html>
