{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 20%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
    
    .name{
       font-family: 'Baloo Tammudu', cursive;
       color: #C02F1D;


    }
    .about{
        font-family: 'Baloo Tammudu', cursive;
       color: #C02F1D;
    }

    .img-1 { 
    
     margin-left: 120px; /* margin is -0.5 * dimension */
        margin-top: 30px;
    
    }
    .img-2{
        border-radius: 50%;
        width: 250px;
        height: 200px;
        margin-top: 30px;
        margin-left: 120px;

    }
    

</style>
<div class="center_screen">
    <p class="name" id="test"; style="font-size:27px; text-align: center;" >Hello, this is {{ name }}.</p>
    <p class="about" id="test"; style="font-size:27px; text-align: center;" >{{ content }}</p>
    <img class="img-2" src="https://vignette.wikia.nocookie.net/metalgear/images/f/f1/TPPVenomSnakeMB.png/revision/latest/scale-to-width-down/350?cb=20151206170252" alt="Big Boss"  align="middle">
    
    
</div>
{% endblock %}