{% extends "lab_10/layout/base.html" %}

{% block content %}
<!-- Content Here -->
<section id="data-dashboard">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2> Dashboard </h2>
        </div>
        <div class="panel-body">
            <p> Username : {{ author }} </p>
            <p> NPM : {{kode_identitas}} </p>
            <p> Role : {{ role }} </p>
            <p>
                 <a href="{% url 'lab-10:dashboard' %}" class="btn btn-primary"> Dashboard </a> |
                <a href="{% url 'lab-10:list_watch_later' %}" class="btn btn-warning"> Watch Later </a> |
                <a href="{% url 'lab-10:list_watched' %}" class="btn btn-success"> Watched Movies</a>
            </p>
        </div>
    
    </div>
</section>
<hr>

{% endblock %}
