#postStatus{
  background-color: #1a0000;
  color: white;
  margin-top: 2rem;
  margin-bottom: 10rem;
  padding: 0.5rem;
  position: relative;
  right: 5.4rem;
  top: 8rem;

}

#postInput{
  position: relative;
  left: 7rem;
  background-color: white;
  box-sizing: border-box;
  border-radius: 3px;
}

.Logout{
  background-color: #1a0000;
  color: white;
  margin-top: 2rem;
  padding: 0.5rem;

}

.Login{
  background-color: #1a0000;
  color: white;
  padding: 0.5rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  margin-right: 10rem;
  margin-left: 10rem;
  font-size : 16px;
}

.image{
  size: 50%;
  margin-top: 10rem;
  
}

input {
  margin: auto;
  width: 60%;
  padding: 3rem;
  text-align: center;
}

img {
  margin-top: 3rem;
  position: relative;
  top: 0;
  left: 0;
}

.feed {
  width: 50%;
  padding: 3rem;
  margin: 3rem;

}

.flex {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 50px;
    position: relative;
    left: 3rem;
    background: white;
    -webkit-box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.3);
    width: 70%;
    height: 70%;

    
}

.data{
  position: relative;
  left: 2rem;
}
.cover{
  position: relative;
  top: 0;
  left: 10rem;
}

.picture{
  position: relative;
  top: 0rem;
  left: -35.5rem;
  border-radius: 50%;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.delete{
  background: #e45;
  color: #fff;
  font-size: 16px;
  width: 50%;
  height: 50px;
  top: 6rem;
  left: 37rem;
  position: relative;
  
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .profile .img .cover{
        width: 100%;
        height: auto;
        left: 0rem;
        top: 5rem;
    }

    .profile .img .picture{
        width: 25%;
        height: auto;
        left: 0rem;
        top: -12rem;

    }

    .data{
     
    left: 0rem;
    }

    #postStatus{
      height: auto 
     
    }

    h2{
      width: 100%;
      height: auto;
    } 
    #postInput{
      height: auto;
    }
    h1{
      width: 100%;
        height: auto;
    }

    .flex{
      width: 70%;
      left: 0rem;
    }

    .feed{
      width: 50%;
      height: auto;
      box-sizing: border-box;
    }

    .delete{
      width: 100%;
      height: auto;
      left: 0rem;
    }

    .image{
      width: 100%;
      height: auto;
    }



}



