{% extends "lab_6/layout/base.html" %}

{% block content %}
    <!-- ChatBox Section -->
    <section name="Chatbox">
       <div class="wrapper">
          <div class="chat-box">
             <div class="chat-head">
                <h2>Chat</h2>
                <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16">
             </div>
             <div class="chat-body">
                <div id="insert" class="msg-insert">
                </div>
                <div id="chat" class="chat-text">
                   <textarea  placeholder="Press Enter"></textarea>

                </div>
             </div>
          </div>
       </div>
       <div style="position: relative; left: 80rem;">
      <select class="my-select"></select>
      <button class="apply-button">apply</button>
    </div>
    </section>

    {% endblock %}
