<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Black Lagoon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">


</head>
<style>
    table, th, td {
        border: 1px solid black;
        text-align: left;
        padding: 10px;
        margin-bottom: 25px;
        background-color: #dae3e5;
        border-collapse: collapse;


    }
    .subject{
        font-size: 20px;
        font-family: 'Patua One', cursive;
        color: #107896;
    }
    .value{
        font-size: 20px;
        font-family: 'Patua One', cursive;
        color: #C2571A;
    }
    .bgr{
        background-image: url(http://www.amazingwallpaperz.com/wp-content/uploads/Battlefield-1920x1080-HD-Background-Wallpapers.jpg)  ;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
    }
    .navbar-default {
    background-color: #0D3D56;
    border-color: #0D3D56;
    }
    .font-1{
        margin-left: 20px;
        font-weight: bold;
        font-size: 20px;
        color: #F8F8FF;
        font-family: 'Open Sans', sans-serif;
    }


</style>
<body class="bgr">
    <div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg navbar-light ">
          <a class="navbar-brand" href="#">The Lagoon Company</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/lab-2/">Home</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/lab-2-addon/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lab-3/">Diary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'lab-4:index' %}">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>
