<nav class="navbar-default navbar-static-top" style="background-color: #000000;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/lab-8/" style="color: #FFFFFF ; margin-top: 1rem; margin-bottom: 1rem;">FaceIt</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <button  class="Logout" onclick="facebookLogout()">Logout</button>
        
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
